body {

    background-color: #f5f5dd;
}

.boks {
    background-color: #000;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.kwadrat {
    opacity: .6;
}
.kwadrat2 {
    opacity: .5;
}
.kwadrat3 {
    opacity: .4;
}
.kwadrat4 {
    opacity: .3;
}


